*{
    margin: 0;
    padding: 0;
}

.academyMain{
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.academySection{
    width: 100%;
    height: 100%;
    color: #ffff;
    margin-left: 150px;
}

.academyHeader{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.academyHeader h1{
    font-size: 50px;
    color: rgb(51, 49, 49);
}

.academyHeader h1 span{
    font-size: 15px;
    color: gray;
    align-items: flex-end;
}

.academyHeader hr{
    margin-left: 5px;
    width: 50px;
    height: 2px;
    border: none;
    background-color: gray;
}

.academicContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.academicTimeline{
    width: 50%;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
}

.timeline-container::after {
    background-color: #0284C7;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 100%;
}

.extraActivities{
    width: 45%;
    padding-left: 30px;
}

.extraActivities h6{
    color: rgb(189, 184, 184);
    text-align: center;
    margin-bottom: 20px;
}

.programmingState{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
}

.stateContainer{
    width: 100%;
    height: 40px;
    background-color: #0B1120;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.marginRight{
    margin-right: 10px;
}

.stateContainerImg{
    width: 40px;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stateContainerImg img{
    width: 30px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.stateCount{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stateCount span{
    font-size: 25px;
}

.stopStalk{
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    color: gray;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stopStalk span{
    margin-right: 10px;
}

.hrLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hrLine hr{
    width: 20%;
    height: 2px;
    background-color: #0284C7;
    border: none;
}

.academicPageKeyPoint{
    width: 100%;
    padding-left: 50px;
    font-size: 15px;
    color: gray;
}

@media only screen and (max-width: 600px){
    .academy-main{
        height: 100vh;
    }

    .academy-container{
        margin-left: 80px;
    }

    .academy-heading h1{
        margin-left: 0px;
    }

    .academy-titles{
        width: 90%;
    }
}

