*{
    margin: 0;
    padding: 0;    
}

.training-section{
    border-left: 3px solid dimgray;
    width: 600px;
    height: 165px;
    padding: 20px 0px 0px 20px;
    margin-left: 40px;
}

.training-section h3{
    text-align: left;
    color: #ffffff;
    font-size: 18px;
}

.training-section span{
    color: #b6935b;
    margin-right: 10px;
}

.programming-profile{
    
}