*{
    margin: 0;
    padding: 0;
}

.components-section{
    background-color: rgb(27, 26, 26);
    margin: 10px 10px 0px 30px;
    padding: 10px;
    height: 595px;
    overflow: auto;
    color: #ffffff;
    font-size: 15px;
}

.components-section h5{
    font-size: 20px;
    margin-bottom: 20px;
    color: #b6935b;
    text-align: center;
}

.components-section h6{
    font-size: 18px;
    margin: 10px 0px;
    color: #b6935b;
}

.components-section ul{
    margin-left: 50px;
    padding: 10px 0px;
}

.components-section span{
    color: orange;
    font-size: 15px;
}
