*{
    margin: 0;
    padding: 0;
}

.aboutMeMain{
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 400px){
    .aboutMeMain{
        background-color: rgb(27, 26, 26);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.aboutSection{
    width: 100%;
    height: 100%;
    color: #ffff;
    margin-left: 170px;
}

@media only screen and (max-width: 400px){
    .aboutSection{
        width: 100%;
        height: 100%;
        color: #ffff;
        margin-left: 70px;
    }
}

.aboutHeader{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.aboutHeader h1{
    font-size: 50px;
    color: rgb(51, 49, 49);
}

@media only screen and (max-width: 400px){
    .aboutHeader h1{
        font-size: 30px;
        color: rgb(51, 49, 49);
    }
}

.aboutHeader h1 span{
    font-size: 15px;
    color: gray;
    align-items: flex-end;
}

.aboutHeader hr{
    margin-left: 5px;
    width: 50px;
    height: 2px;
    border: none;
    background-color: gray;
}

@media only screen and (max-width: 400px){
    .aboutHeader hr{
        display: none;
        margin-left: 0px;
        width: 50px;
        height: 2px;
        border: none;
        background-color: gray;
    }
}

.aboutContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

@media only screen and (max-width: 400px){
    .aboutContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}

.personalInfo{
    width: 50%;
}

@media only screen and (max-width: 400px){
    .personalInfo{
        width: 100%;
    }
}

.divTitle{
    display: flex;
}

.divTitle hr{
    margin-left: 5px;
    width: 50px;
    height: 2px;
    border: none;
    background-color: gray;
}

.nameDiv{
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: #0B1120;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameIcon{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-top: 3px;
    color: rgb(187, 184, 184);
}

.name h1{
    font-size: 20px;
}

@media only screen and (max-width: 400px){
    .name h1{
        font-size: 16px;
    }
}

.contactDiv{
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 400px){
    .contactDiv{
        margin-top: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contactContent{
    width: 50%;
    height: 40px;
    background-color: #0B1120;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
}

@media only screen and (max-width: 400px){
    .contactContent{
        width: 100%;
        height: 40px;
        background-color: #0B1120;
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        margin-bottom: 10px;
    }
}

.divMargin{
    margin-right: 10px;
}

@media only screen and (max-width: 400px){
    .divMargin{
        margin-right: 00px;
    }
}

.topDiv{
    width: 50%;
    height: 80px;
    background-color: #0B1120;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1px;
}

@media only screen and (max-width: 400px){
    .topDiv{
        width: 100%;
    }
}

.topDiv h6{
    display: flex;
    align-items: center;
    color: gray;
}

.topDiv h6 hr{
    width: 40px;
    height: 2px;
    background-color: gray;
    border: none;
    margin-right: 10px;
}

.topDiv p{
    margin-left: 50px;
    font-size: 15px;
    font-style: italic;
}

.bottomDiv{
    width: 50%;
    height: 80px;
    background-color: #0B1120;
    border-radius: 10px;
    padding: 10px;
    line-height: 1px;
}

@media only screen and (max-width: 400px){
    .bottomDiv{
        width: 100%;
    }

    .responsiveMargin{
        margin-top: 10px;
    }
}

.bottomDiv h6{
    display: flex;
    align-items: center;
    color: gray;
}

.bottomDiv h6 hr{
    width: 40px;
    height: 2px;
    background-color: gray;
    border: none;
    margin-right: 10px;
}

.bottomDiv p{
    margin-left: 50px;
    font-size: 15px;
    font-style: italic;
}

.careerObjective{
    width: 40%;
}

@media only screen and (max-width: 400px){
    .careerObjective{
        width: 90%;
        margin-top: 20px;
        padding-bottom: 30px;
    }
}

.careerObjective p{
    text-align: justify;
    margin-bottom: 15px;
    color: rgb(187, 184, 184);
}

.keyPoint{
    width: 100%;
    height: auto;
    margin-left: 50px;
}

@media only screen and (max-width: 400px){
    .keyPoint{
        margin-left: 20px;
    }
}

.keyPointItem{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.keyPointIcon{
    width: 25px;
    height: 25px;
    border: 2px solid #0284C7;
    color: #0284C7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyPointText{
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgb(187, 184, 184);
}

.downloadButton{
    margin-top: 15px;
    border: 2px solid #0284C7;
    background-color: transparent;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.downloadButton a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: #0284C7;
    text-decoration: none;
}

.downloadIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 3s;
    transform: rotate(180deg);
}

@media only screen and (max-width: 400px){
    .downloadIcon{
        transform: rotate(0deg);
        color: #fff;
    }
}

.downloadButton a:hover .downloadIcon{
    transform: rotate(0deg);
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .aboutMe-section {
        width: 100%;
        height: auto;
        display: grid;
        grid: auto/auto;
        align-items: center;
        justify-content: center;
    }
  }